{% extends "template.html" %}
{% block content %}
    {% for movie in movies %}
        <!-- bloc-1 Movie info-->
        <div class="bloc bg-walkway d-bloc full-width-bloc bloc-fill-screen" id="bloc-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ url_for('static', filename='img/lazyload-ph.png')}}" data-src="{{ url_for('static', filename='img/walkway.jpg')}}" class="img-fluid mx-auto d-block img-style lazyload" />
                    </div>
                    <div class="col-sm-6
                    align-self-center">
                        <h2 class="mg-md
                        h2-movie-style ">
                            Movie name&nbsp;{{ movie.name }}
                        </h2>
                        <h3 class="mg-md h3-style">
                            Date: {{ movie.date_released }}
                        </h3>
                        <h3 class="mg-md h3-style">
                            Type: {{ movie.type }}
                        </h3>
                        <h3 class="mg-md h3-style">
                            Cast: {{ movie.cast }}
                        </h3>
                        <p class="p-style" >
                            Movie Introduction:&nbsp;{{ movie.info }}
                        <!-- To fix -->
                        </p><a href="index.html" class="btn btn-d btn-lg">More Info</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- bloc-1 END -->

        <!-- Footer - bloc-2 Show other reviews-->
<div class="bloc bloc-fill-screen bg-lines-dl2-bg l-bloc bg-repeat none" id="bloc-3">
    <div class="container fill-bloc-top-edge">
        <div class="row">
            <div class="col-12">
                {% for review in reviews %}
                {% if review.movie_id == movie.id %}
                <div class="card">
                    <div class="card-header">   
                        <h3 class="mg-clear h3-review-style">
                         {{ review.title }}  rating: {{ review.rate }}                
                        </h3>
                    </div>
                    <div class="card-body">
                        <p class="p-bloc-3-style">
                            {{ review.content }}
                        </p>
                    </div>   
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
        <!-- Footer - bloc-2 END -->
    {% endfor %}
    <!-- Footer - bloc-3 Review form-->
    <div class="bloc bgc-white l-bloc">
        <form method="post" action="/review">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Commit Your Movie Review</legend>
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.movie_name.label(class="form-control-label") }}
                    {% if form.movie_name.errors %}
                        {{ form.movie_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.movie_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.movie_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.rate.label(class="form-control-label") }}
                    {% if form.rate.errors %}
                        {{ form.rate(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.rate.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.rate(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="bin-outline-info") }}
            </div>
        </form>
    </div>
    <!-- Footer - bloc-3 END -->
{% endblock content %}