{% extends "template.html" %}
{% block content %}
    {% for movie in movies %}
        <!-- bloc-1 Movie info-->
        <div class="bloc bgc-white l-bloc" id="bloc-1">
            <div class="container bloc-md">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{{ url_for('static', filename='img/lazyload-ph.png')}}" data-src="{{ url_for('static', filename='img/placeholder-image.png')}}" class="img-responsive lazyload" />
                    </div>
                    <div class="col-sm-6">
                        <h2 class="mg-lg ">
                            Movie name&nbsp;{{ movie.name }}
                        </h2>
                        <h3 class="mg-sm">
                            Date: {{ movie.date_released }}<br> Type: {{ movie.type }}<br>Cast: {{ movie.cast }}
                        </h3>
                        <p class="mg-lg" >
                            Movie introduction:<br>{{ movie.info }}
                        </p><a href="index.html" class="btn btn-d btn-lg">More Info</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- bloc-1 END -->

        <!-- ScrollToTop Button -->
        <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
        <!-- ScrollToTop Button END-->


        <!-- Footer - bloc-2 Show other reviews-->
        <div class="bloc bgc-white l-bloc" id="bloc-2">
            <div class="container bloc-md">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class=" mg-lg">
                            Reviews
                        </h1>
                        {% for review in reviews %}
                            {% if review.movie_id == movie.id %}
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="mg-clear ">
                                            {{ review.title }}
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>
                                            {{ review.content }}
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer - bloc-2 END -->

        <!-- Footer - bloc-3 Review form-->
        <div class="bloc bgc-white l-bloc " id="bloc-3">
            <div class="container bloc-md">
                <div class="row">
                    <div class="col-sm-12">
                        <form id="form_16228" novalidate success-msg="submit successfully" fail-msg="submit failed">
                            <div class="form-group">
                                <label>
                                    Review
                                </label><textarea class="form-control text" rows="8" cols="50" id="newreview"></textarea>
                            </div>
                            <div class="text-center">
                                <button class="bloc-button btn btn-lg btn-d btn-block" type="submit" onclick="postReview()">
                                    Submit<span class="special-tag-for-editing-text-with-html"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer - bloc-3 END -->
    {% endfor %}
{% endblock content %}